<nav class="nav--second">

</nav>

<div class="table">
<table>
  <tr>
    <th>Owner</th>
    <th>Pet</th>
    <th></th>
  </tr>
  <%for adoption in @adoptions%>
  <tr class="bodyRows">
    <td><%=adoption.owner.name()%></td>
    <td><%=adoption.pet.name%></td>
    <td><img class="petPhoto"src="<%=adoption.pet.image%>" alt="picture of pet"></td>
  </tr>
  <%end%>
</table>
</div>
