<nav class="nav--second">
  
</nav>

<div class="table">
<table>
  <tr>
    <th>Owner</th>
    <th>Pet</th>
    <th>Type</th>
  </tr>
  <%for adoption in @adoptions%>
  <tr class="bodyRows">
    <td><%=adoption.owner.name()%></td>
    <td><%=adoption.pet.name%></td>
    <td><%=adoption.pet.type%></td>
  </tr>
  <%end%>
</table>
</div>
