<h3>Are you sure you want to remove <%=@pet.name()%> from the database?</h3>

<form class="delete" action="/pets/<%=@pet.id()%>/delete" method="post">
  <button class="button button--second deleteButton" type="submit">Delete <%=@pet.name%></button>
</form>

<!-- if pet and is deleted, adoption is deleted, error for latest adoption if no adoptions in the table!! -->
