* {
  margin: 0px;
  padding: 0px;
  font-family: 'Rajdhani', sans-serif;
}

body {
  padding-bottom: 250px;
}

h1 {
  color: #5D576B;
  font-family: 'Russo One', sans-serif;
  font-size: 70px;
  text-align: center;
  margin: 40px;
}

h3 {
  font-size: 30px;
  color: #5D576B;
  text-align: center;
  margin: 40px;
}

p {
  text-align: center;
  font-size: 20px;
  font-family: verdana;
}

a, a:visited {
  text-decoration: none;
  color: #ED6A5A;
}

article {
  display: flex;
  justify-content: center;
}

#adoptionPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#homepage {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.homebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid #9BC1BC;
  border-radius: 10px;
  margin: 10px;
}

.homebox h3 {
  margin: 5px;
}

.homebox img {
  width: 300px;
  padding: 20px;
}

.homebox a:hover {
  background-color: #F4F1BB;
}
