* {
  margin: 0px;
  padding: 0px;
  font-family: 'Rajdhani', sans-serif;
}

h1 {
  color: #5D576B;
  font-family: 'Russo One', sans-serif;
  font-size: 70px;
  text-align: center;
  margin: 40px;
}

h3 {
  font-size: 30px;
  color: #5D576B;
  text-align: center;
  margin: 40px;
}

p {
  text-align: center;
}

a, a:visited {
  text-decoration: none;
  color: #ED6A5A;
}
