form {
  font-size: 30px;
  text-align: left;
  margin: 20px;
  padding: 20px;
}

.form, .delete, .adopt {
  display: flex;
  justify-content: center;
}

.adopt {
  margin: 30px 0px 150px 0px;
}

#delete {
  color: #ED6A5A;
}

label {
  margin: 30px;
}

select {
  font-size: 16px;
}

input {
  font-size: 20px;
  /*margin: 10px;*/
}

input[type="submit"] {
  font-size: 20px;
}
