form {
  font-size: 30px;
  text-align: left;
  margin: 20px;
  padding: 20px;
}

.form, .delete, .adopt{
  display: flex;
  justify-content: center;
}

#delete {
  color: #ED6A5A;
}

select {
  font-size: 26px;
}

input {
  font-size: 26px;
}

input[type="submit"] {
  font-size: 25px;
}
