form {
  font-size: 30px;
  text-align: left;
  margin: 20px;
  padding: 20px;
}

.form, .delete, .adopt, #adoption{
  display: flex;
  justify-content: center;
}

.adopt {
  margin: 30px 0px 100px 0px;
}

.deleteButton {
  color: #ED6A5A;
}

label {
  margin: 30px;
}

select {
  font-size: 16px;
  margin: 10px;
}

input {
  font-size: 20px;
  margin: 10px;
}

input[type="submit"] {
  width: 100px;
  margin: 5px;
  padding: 3px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #F4F1BB;
  font-size: 20px;
  /*float: right;*/
}

.submit {
  display: flex;
  justify-content: center;
}
