nav {
  border-bottom: 4px solid gold;
  display: flex;
  justify-content: flex-start;
}

nav a, a:visited {
  text-decoration: none;
  color: #003399;
}

.ul--nav {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  list-style-type: none;
}

.button {
  background-color: white;
  font-size: 33px;
  border: hidden;
  color: black;
}

.button:hover {
  border-left: 2px solid gold;
  border-right: 2px solid gold;
}

.button--second {
  font-size: 15px;
}
