<nav class="nav--second">
  <button class="button button--second"><a href="owners/new">New Owner</a></button>
</nav>

<div class="table">
<table>
  <tr>
    <th>Name</th>
    <th>Looking For</th>
  </tr>
  <% for owner in @owners %>
  <tr class="bodyRows">
    <td><%=owner.name%></td>
    <td><%=owner.wants%></td>
  </tr>
  <% end %>
</table>
</div>
