<nav class="nav--second">

</nav>

<div class="table">
<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for owner in @owners %>
  <tr class="bodyRows">
    <td><%=owner.name%></td>
  </tr>
  <% end %>
</table>
</div>
