
<div class="form">
  <form action="/owners" method="post">
    <div>
      <label for="Name">Enter Full Name</label>
      <input type="text" name="name"/>
    </div>
    <div>
      <label for="Children">Do you have any children at home?</label>
      <select name="children">
        <option value="" selected disabled hidden>Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    </div>
    <div>
      <p>Wants</p>
      <label for="Wants">Animal Type</label>
      <select name="type">
        <option value="" selected disabled hidden>Select</option>
        <option value="Dog">Dog</option>
        <option value="Cat">Cat</option>
      </select>
    </div>
    <div>
      <label>Preferred Sex of Animal</label>
      <select name="preferred_sex">
        <option value="" selected disabled hidden>Select</option>
        <option value="Female">Female</option>
        <option value="Male">Male</option>
      </select>
    </div>
    <div class="submit">
      <input type="submit" value="Enter">
    </div>
  </form>
</div>
