<nav class="nav--second">
  <button class="button button--second"><a href="/owners/<%=@owner.id%>/edit"/edit>Edit <%=@owner.name%></a></button>
</nav>

<h1><%=@owner.name()%></h1>
<article>
  <div class="text">
    <p>Looking for a <%=@owner.wants%></p>
  </div>
</article>
